.App {
    font-family: 'Crete Round', serif;
}

.App__header {
    display: none;
    text-align: center;
    letter-spacing: 2px;
}

.App__title, .App__subtitle {
    padding: 0;
    margin: 0;
}

.App__title {
    color: #001E51;
    text-transform: uppercase;
}

.App__subtitle {
    margin: -5px 0 10px 0;
    color: #949494;
    font-size: .7rem;
}

@media (min-width: 768px) {
    .App__header {
        display: inherit;
    }
}